@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #eff6ff;
}

#homeButton, #contactsButton, #customersButton, #accountsButton {
    background-color: #60a5fa;
    color: #ffffff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#barChartContainer, #pieChartContainer, #invoicesTableContainer, #agedPayablesContainer, #totalRevenueContainer, #pnlPastSixMonthsContainer, #incomeSourcesContainer {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #60a5fa;
    color: white;
}

tr:nth-child(even) {
    background-color: #f3f4f6;
}